BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None

AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 8

BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
ReferenceAlignment: Left
SpaceBeforeParens: ControlStatements
